<section id="contact" class="section-even" #contactSection>
  <div class="main-container">
    <div class="title-container">
      <span class="title-1">Contact</span>
      <div class="title-1-underline"></div>
    </div>

    <div class="body-container">
      <div class="description">
        <p>
          The best way to reach me is via email (tilie@usc.edu). You can also
          connect with me on LinkedIn to send a message or read recommendation
          verifications.
        </p>
      </div>
      <div class="spacer"></div>
      <div
        class="LI-profile-badge linkedin-badge"
        data-version="v1"
        data-size="large"
        data-locale="en_US"
        data-type="horizontal"
        data-theme="light"
        data-vanity="tilie"
      >
        <a
          class="LI-simple-link"
          href="https://www.linkedin.com/in/tilie?trk=profile-badge"
          >Theo Ilie
        </a>

        <!-- Hardcoded fallback badge for when LinkedIn denies the request -->
        <div class="linkedin-container">
          <div
            dir="ltr"
            class="LI-badge-container-horizontal-light LI-badge-container horizontal light large"
            style="width: 100%;"
          >
            <div class="LI-profile-badge-header LI-name-container LI-row">
              <div class="LI-col">
                <div class="LI-profile-pic-container">
                  <img
                    src="../../../assets/theo-ilie.jpeg"
                    class="LI-profile-pic"
                    alt="Theodore Ilie"
                  />
                </div>
              </div>
              <div class="LI-col LI-header">
                <div class="LI-name">
                  <a href="https://www.linkedin.com/in/tilie">Theodore Ilie</a>
                </div>
                <div class="LI-title">
                  USC Student / Incoming SDE Intern @ Amazon
                </div>
              </div>
            </div>
            <ul class="LI-more-info">
              <li class="LI-field">
                <img
                  src="../../../assets/vista-logo.png"
                  class="LI-field-icon"
                  alt="Vista Entertainment Solutions"
                />
                <a href="https://www.linkedin.com/in/tilie">
                  Vista Entertainment Solutions
                </a>
              </li>
              <li class="LI-field">
                <img
                  src="../../../assets/usc-logo.png"
                  class="LI-field-icon"
                  alt="University of Southern California"
                />
                <a href="https://www.linkedin.com/in/tilie">
                  University of Southern California
                </a>
              </li>
              <li class="LI-field">
                <img
                  src="../../../assets/intel-logo.png"
                  class="LI-field-icon"
                  alt="Intel Corporation"
                />
                <a href="https://www.linkedin.com/in/tilie">
                  Intel Corporation
                </a>
              </li>
            </ul>
            <div class="LI-footer LI-row">
              <a
                href="https://www.linkedin.com/in/tilie"
                class="LI-view-profile"
                >View profile</a
              ><span class="LI-logo"
                ><img
                  src="../../../assets/linkedin-logo.png"
                  alt="LinkedIn"
                  class="LI-icon"
              /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
