<h4>Project Summary</h4>
Pycoal Parallel identifies coal mines and correlates them with geographic features such as rivers and lakes in order
to understand how coal mining can negatively impact water supplies. It takes images from NASA instruments, which are
used in airplanes to collect information-rich "hyperspectral" images of the land below, and then it classifies any
minerals in these images based on their light signatures.

<br />

<h4>Personal Summary</h4>
<ul>
  <li>
    Created functionality (Python) to visualize the proximity of dams and reservoirs to dangerous sludge and "tailings"
    produced by mining for coal and other natural resources. This involved synthesizing research papers to identify
    minerals and their hyperspectral signatures, filtering NASA images (QGIS), and selecting specialized environmental
    datasets.
  </li>
  <li>
    Resolved over 40 static code analysis issues (Python)
  </li>
  <li>
    Improved documentation and open source accessibility by fixing and improving unit tests
    (Python - nose, Travis).
  </li>
</ul>

<h4>Team Summary</h4>
<ul>
  <li>
    Served as the point of contact between our 5-student capstone team and the NASA JPL stakeholder
  </li>
  <li>
    Assisted team members with technical work resulting in:
    <ul>
      <li>
        86% increase in algorithm speed (reduced runtime from 45 minutes to 6 minutes)
      </li>
      <li>
        greater hardware acceleration accessibility (CPU, CUDA, and other GPU support)
      </li>
    </ul>
  </li>
</ul>

<h4>Source Code</h4>
The source code can be found <a class="link" href="https://github.com/capstone-coal">here</a>, and more information
on COAL can be found <a class="link" href="https://capstone-coal.github.io/">here</a>.
For a list of my individual contributions, click
<a class="link" href="https://github.com/capstone-coal/pycoal/issues?utf8=%E2%9C%93&q=author%3ALactem+">here</a>
