<section id="home" class="section-even home-section" #homeSection>
  <span class="home-mask"></span>
  <div class="main-container home-flex">
    <div class="home-center">
      <div class="row-top">
        <div class="row-title">
          Hello, I'm Theo Ilie.
        </div>
        <div class="row-caption">
          Full stack developer with entrepreneurial aspirations.
        </div>
      </div>
      <div class="row-spacer"></div>
      <div class="row-bottom">
        <span class="view-projects" (click)="viewProjects()">
          View Projects
        </span>
      </div>
    </div>
    <!--
    <div class="row-pic">
      <img class="row-pic__image" src="../../../assets/theo-ilie.jpeg" />
    </div>
  -->
    <!-- TODO: Move to About Me section later 
    <div class="row-summary">
      As a software engineer with an eye for design and an entrepreneurial
      background, I want to start and maintain a bootstrapped technology
      business. Scroll down to read my qualifications!
    </div>
  --></div>
</section>
