<section id="home" class="section-even home-section" #homeSection>
  <span class="home-mask"></span>
  <div class="main-container home-flex">
    <div class="home-center">
      <div class="row-top">
        <div class="row-title">
          Hello, I'm Theo Ilie.
        </div>
        <div class="row-caption">
          Generalist developer.
        </div>
      </div>
      <div class="row-spacer"></div>
      <div class="row-bottom">
        <span class="view-projects" (click)="viewProjects()">
          View Projects
        </span>
      </div>
    </div>
  </div>
</section>
