<h4>Project Summary</h4>
HeroEngineer.com was an experimental learning environment for USC's "Advanced Writing For Engineers" course.
It provided an interactive experience based around the concept of heroes in engineering, using a quest system with
quizzes, assignments, avatars, and team interactions to explore what it means to be ethical and heroic as an engineer.

<h4>Personal Summary</h4>
<ul>
  <li>
    Improved my soft skills and my ability to gather requirements and improve the project based on feedback -- with
    100+ emails between the client and myself, and dozens of iterations that addressed professor and student feedback
  </li>
  <li>
    Gained exposure to devops and sysadmin tools and processes (cron job for backups, Nginx for routing web traffic,
    tmux for organization/sessions, and SSL certificates on a remote Linux machine for security)
  </li>
  <li>
    Gained technical support experience by owning the whole stack and being responsible for resolving bugs and other
    confusions for 50+ students during 3 semesters
  </li>
  <li>
    Furthered my software engineering and creative abilities by designing the UI/UX and developing the site from start
    to finish (using MongoDB, React redux, Java Spring, and Gimp)
  </li>
</ul>

<h4>Key Features</h4>
For students:
<ul>
  <li>
    Customizable accounts and avatars (using SVGs) with an interactive process for online messaging and team formation
    for group projects
  </li>
  <li>
    Live, in-class assignments and quest system of unlockable quizzes that allow for rapid feedback on
    correct/incorrect answers
  </li>
</ul>

For professors:
<ul>
  <li>
    Class sections and rosters -- only allow verified students with @usc.edu email addresses to sign up, and divide
    them into class sections
  </li>
  <li>
    Automatic quiz grading, as well as manual grading with an option to provide feedback for subjective assignments
    (for example, questions that require paragraph answers rather than True/False answers)
  </li>
  <li>
    Extensive settings for creating quests and quizzes and for customizing the order in which they must be taken
  </li>
</ul>

<h4>Source Code</h4>
The site is no longer live, but you can view the source code on my GitHub for the frontend
<a class="link" href="https://github.com/lactem/hero_engineer_frontend">here</a> and for the backend
<a class="link" href="https://github.com/lactem/hero_engineer_backend">here</a>.
