<h4>Project Summary</h4>
<ul>
  <li>
    Automated stocks trading bot with 3 components: collection, analysis, and trading
  </li>
</ul>

<h4>Personal Summary</h4>
<ul>
  <li>
    Improved my sysadmin and devops skills by creating an Artifactory repository and Gradle and Docker scripts for
    managing the communication and shared dependencies between the project's 3 components
  </li>
  <li>
    Used IEX and AlphaVantage APIs (Java) to collect, clean, and store (in MongoDB) minute-level trading data
  </li>
  <li>
    Attempted 2 approaches (model fitting and filtering stock technical analysis indicators) to predicting stock
    success, using Netty (non-blocking IO framework) and Google's Protocol Buffers (ProtoBuf) to distribute heavy
    processing among multiple devices synced up by Redis (each device was responsible for analyzing only a few stocks)
  </li>
</ul>

<h4>Source Code</h4>
The project was passed on to someone else and mostly rewritten in Python (for their easier ML libraries), so the
source code is still private.
