<section id="references" class="section-even" #referencesSection>
  <div class="main-container">
    <div class="title-container">
      <span class="title-1">References</span>
      <div class="title-1-underline"></div>
    </div>

    <!-- References selection carousel -->
    <div class="references-carousel" #referencesCarousel>
      <ng-container *ngFor="let reference of references; index as i">
        <div
          [ngClass]="
            isReferenceActive(i)
              ? 'references-carousel-icon__active'
              : 'references-carousel-icon__inactive'
          "
          (click)="selectReferenceAndPause(i)"
        >
          <img src="{{ reference.imageUri }}" alt="Reference headshot" />
        </div>
      </ng-container>
    </div>

    <div class="relative-container" #relativeContainer>
      <!-- Rotate smoothly by displaying each recommendation on top of each other and changing their opacities -->
      <ng-container *ngFor="let reference of references; index as i">
        <div
          #referenceDiv
          [ngClass]="
            isReferenceActive(i)
              ? 'references-container__active'
              : 'references-container__inactive'
          "
        >
          <!-- Name and title of the person giving the current recommendation -->
          <div class="reference-name">
            {{ reference.name }}
          </div>
          <div class="reference-title">
            {{ reference.title }}
          </div>

          <!-- Text of the current recommendation -->
          <div
            class="reference-contents"
            [innerHTML]="reference.recommendationText"
          ></div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
