<h4>Summary</h4>
<ul>
  <li>
    Designed, created, and deployed the site you're currently on without any CSS frameworks in order to improve my
    front-end skills (Angular, Less CSS) and display professional qualifications
  </li>
  <li>
    Used mobile-first and responsive design with dozens of iterations to support iPhone 7, iPhone X, iPad, and
    laptop/desktop screens with 11 through 27 inches on Safari, Chrome, and FireFox
  </li>
  <li>
    Used Nginx to route traffic for theodoreilie.com, theoilie.com, and their permutations with subdomains and with
    both insecure and SSL-secured ports on a remote Ubuntu machine
  </li>
</ul>
<br />

<h4>Source Code</h4>
You can view source code <a class="link" href="https://github.com/Lactem/portfolio-website">here</a>.
