<h4>Summary</h4>
<ul>
  <li>
    Created telemetry plugin (Go) that takes metrics from machines in Intel's data centers and publishes them to a
    MySQL database.
  </li>
  <li>
    Created tests (Travis, Go) and presented/demonstrated the project to an audience of ~12.
  </li>
</ul>

<h4>Source Code</h4>
The source code is available
<a class="link" href="https://github.com/intelsdi-x/snap-plugin-publisher-mysql">here</a> (it shows a different author
for the initial commit because I initially created the project internally, and after my internship an Intel employee
re-published it in the project's new repo).
