<h4>Framework Summary</h4>
<ul>
  <li>
    Worked with a more experienced dev to create a framework (Java) for other devs to make their own mini-games within Minecraft.
    This included game state logic (waiting/starting/playing/ending/spectating) and running multiple games concurrently.
  </li>
  <li>
    Created utility functions for creating and saving/loading 3D arenas, forming teams, and customizing item collections.
  </li>
</ul>

<h4>TNT Run Summary</h4>
<ul>
  <li>
    Used the framework to create a demo mini-game (Java) where players run around on falling blocks that eventually explode,
    and the last player to fall wins.
  </li>
  <li>
    Partnered with a network (Arkham Network) to feature the game to their userbase of over 1 million unique players.
  </li>
</ul>

<h4>Plants Versus Zombies</h4>
<ul>
  <li>
    Created my (Java) version of the mobile game "Plants Versus Zombies" in Minecraft, which received 7,000+ downloads
    on a gaming site (CurseForge). This involved implementing an optimization algorithm for assigning players to 1 of 2
    teams with multiple rows to spawn in for balanced difficulty.
  </li>
  <li>
    Created a ranking system to store information in a MySQL database and compare statistics such as win ratio.
  </li>
</ul>

<h4>Source Code</h4>
<ul>
  <li>
    <a class="link" href="https://github.com/Lactem/GameDispenser">GameDispenser</a> (more non-technical information available at <a class="link" href="https://bukkit.org/threads/gamedispenser-minigame-manager-and-library.304104/">Bukkit/CurseForge</a>)
  </li>
  <li>
    <a class="link" href="https://github.com/Lactem/Arkham-TNT-Run">TNT Run</a>
  </li>
  <li>
    <a class="link" href="https://github.com/Lactem/PvZ">Plants Versus Zombies</a> (more non-technical information available at <a class="link" href="https://dev.bukkit.org/projects/plants-vs-zombies">Bukkit/CurseForge</a>)
  </li>
</ul>
